[Desktop Entry]
Version=1.0
Type=Application
Name=KawaiiSec Browser
Comment=Browse the World Wide Web
Exec=firefox
Icon=/usr/share/icons/kawaiisec/browser.png
Terminal=false
Categories=Network;WebBrowser;
Keywords=web;browser;internet;www;
StartupNotify=true 