#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# Install wrapper scripts
	install -d debian/kawaiisec-tools/usr/local/bin
	install -m 755 scripts/bin/* debian/kawaiisec-tools/usr/local/bin/
	
	# Install lab configurations
	install -d debian/kawaiisec-tools/usr/share/kawaiisec/labs
	cp -r labs/* debian/kawaiisec-tools/usr/share/kawaiisec/labs/
	
	# Install documentation
	install -d debian/kawaiisec-tools/usr/share/doc/kawaiisec-tools
	cp -r docs/* debian/kawaiisec-tools/usr/share/doc/kawaiisec-tools/

override_dh_installdocs:
	dh_installdocs
	# Install README as the main documentation
	cp README.md debian/kawaiisec-tools/usr/share/doc/kawaiisec-tools/

override_dh_auto_clean: 